<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Indeks goriva</title>

    <!-- Bootstrap -->
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
<div class="container">
{% block gorivo_meni %}
<p align="center">
<nav class="navbar navbar-default">
<div class="container-fluid">
<div class="navbar-header">
<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#popis-goriva">
<span class="sr-only">Otvori izbornik</span>
</button>
</div>
<div class="collapse navbar-collapse" id="popis-goriva">
<ul class="nav navbar-nav">
{% for gorivo in popularna_goriva %}<li{% ifequal gorivo.0 gorivo_id %} class="active"{% endifequal %}><a href="{% url view_name gorivo.0 %}">{{gorivo.1}}</a></li>{% endfor %}
<li class="dropdown">
<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Ostala goriva <span class="caret"></span></a>
<ul class="dropdown-menu" role="menu">
{% for gorivo in vrste_goriva %}<li{% ifequal gorivo.0 gorivo_id %} class="active"{% endifequal %}><a href="{% url view_name gorivo.0 %}">{{gorivo.1}}</a></li>{% endfor %}
</ul>
</li>
</ul>
</div>
</div>
</nav>
</p>
{% endblock %}
{% block meni %}
{% if gorivo_id %}
<p align="center">
<nav class="navbar navbar-default">
<div class="container-fluid">
<div class="navbar-header">
<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#stranice">
<span class="sr-only">Otvori izbornik</span>
</button>
</div>
<div class="collapse navbar-collapse" id="stranice">
<ul class="nav navbar-nav">
<li{% ifequal view_name 'indeksi_view' %} class="active"{% endifequal %}>
  <a href="{% url 'indeksi_view' gorivo_id %}">Indeksi</a>
</li>
<li{% ifequal view_name 'gorivo_view' %} class="active"{% endifequal %}>
  <a href="{% url 'gorivo_view' gorivo_id %}">Cijene</a>
</li>
</ul>
</div>
</div>
</nav>
</p>
{% endif %}
{% endblock %}
{% block filter %}
<p style="text-align: right">Prikazane tvrtke koje imaju <input type="number" value="1" min="1" max="999" readonly /> ili više postaja.</p>
{% endblock %}
{% block gorivo %}
<p>Izaberite gorivo.</p>
{% endblock %}
{% block stanje %}
<p>Cijene na datum: XXX.<br />
Cijene se nisu mijenjale od: XXX.</p>
{% endblock %}
{% block footer %}
<p align="center">
<nav class="navbar navbar-default">
<div class="container-fluid">
<div class="navbar-header">
<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#stranice">
<span class="sr-only">Otvori izbornik</span>
</button>
</div>
<div class="collapse navbar-collapse" id="stranice">
<ul class="nav navbar-nav">
<li{% ifequal view_name 'impressum_view' %} class="active"{% endifequal %}>
  <a href="{% url 'impressum_view' %}">Impressum</a>
</li>
</ul>
</div>
</div>
</nav>
</p>
{% endblock %}
</div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
    <script src="/static/jquery-2.1.1.min.js"></script>
  </body>
</html>
