{% extends "index_sa_menijem.html" %}
{% block gorivo_meni %}
<p align="center">| {% for gorivo in vrste_goriva %}{% ifequal gorivo.0 gorivo_id %}<b>{% endifequal %}<a href="{% url 'gorivo_view' gorivo.0 %}">{{gorivo.1}}</a>{% ifequal gorivo.0 gorivo_id %}</b>{% endifequal %} | {% endfor %}</p>
{% endblock %}
{% block gorivo %}
<table class="table">
<thead><tr><th>Cijena</th><th>Tvrtke</th></tr></thead>
<tbody>
{% for cijena in cijene_sa_vlasnicima %}
<tr>
<td>{{cijena.0}}</td>
<td>{% for vlasnik in cijena.1 %}
{{vlasnik.0}} ({{vlasnik.1}} postaja)<br />
{% endfor %}
</td>
</tr>
{% endfor %}
</tbody>
</table>
{% endblock %}
