{% extends "base.html" %}
{% block gorivo_meni %}
<p align="center">
<nav class="navbar navbar-default">
<div class="container-fluid">
<div class="navbar-header">
<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#popis-goriva">
<span class="sr-only">Otvori izbornik</span>
</button>
</div>
<div class="collapse navbar-collapse" id="popis-goriva">
<ul class="nav navbar-nav">
{% for gorivo in popularna_goriva %}<li{% ifequal gorivo.0 gorivo_id %} class="active"{% endifequal %}><a href="{% url 'gorivo_view' gorivo.0 %}">{{gorivo.1}}</a></li>{% endfor %}
<li class="dropdown">
<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Ostala goriva <span class="caret"></span></a>
<ul class="dropdown-menu" role="menu">
{% for gorivo in vrste_goriva %}<li{% ifequal gorivo.0 gorivo_id %} class="active"{% endifequal %}><a href="{% url 'gorivo_view' gorivo.0 %}">{{gorivo.1}}</a></li>{% endfor %}
</ul>
</li>
</ul>
</div>
</div>
</nav>
</p>
{% endblock %}
{% block meni %}
<p align="center">
<nav class="navbar navbar-default">
<div class="container-fluid">
<div class="navbar-header">
<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#stranice">
<span class="sr-only">Otvori izbornik</span>
</button>
</div>
<div class="collapse navbar-collapse" id="stranice">
<ul class="nav navbar-nav">
<li class="active">
  <a href="{% url 'indeksi_view' gorivo_id %}">Indeksi</a>
</li>
<li>
  <a href="{% url 'gorivo_view' gorivo_id %}">Cijene</a>
</li>
</ul>
</div>
</div>
</nav>
</p>
{% endblock %}
{% block gorivo %}
<table class="table">
<thead><tr><th>Cijena</th><th>Tvrtke</th></tr></thead>
<tbody>
{% for cijena in cijene_sa_vlasnicima %}
<tr>
<td>{{cijena.0}}</td>
<td>{% for vlasnik in cijena.1 %}
{{vlasnik.0}} ({{vlasnik.1}} postaja)<br />
{% endfor %}
</td>
</tr>
{% endfor %}
</tbody>
</table>
{% endblock %}
