{% extends "base.html" %}
{% block gorivo_meni %}
{% endblock %}
{% block filter %}
{% endblock %}
{% block gorivo %}
<p><strong>Indeks goriva</strong> je projekt praćenja srednjih cijena goriva na hrvatskom tržištu.</p>

<p><table>
<tr><td style="padding-right: 1em">Autor projekta</td><td><a href="http://hr.linkedin.com/in/nskoric">Nikola Škorić</a></td></tr>
<tr><td style="padding-right: 1em">Stranica projekta</td><td>codeforcroatia</td></tr>
<tr><td style="padding-right: 1em">Izvorni kod</td><td><a href="http://github.com/dijxtra/indexgoriva/">github.com/dijxtra/indexgoriva</a></td></tr>
</table></p>

<p>Projekt je započet na <a href="http://codeforcroatia.org/">Code for Croatia</a> hackatronu 21.2.2015., a izgrađen je u potpunosti od slobodnog softvera. Izvorni kod ovog portala javno je dostupan pod GPL licencom.</p>

<p>Hvala Jeleni Berković na poticaju.</p>
{% endblock %}
{% block stanje %}
{% endblock %}
