{% extends "base.html" %}
{% block meni %}
<p align="center">| <a href="{% url 'indeksi_view' gorivo_id %}" style="font-weight: bold">INDEKSI</a> | <a href="{% url 'gorivo_view' gorivo_id %}">CIJENE</a> | </p>
{% endblock %}
{% block gorivo %}
<table class="table">
<thead><tr><th>Tvrtka</th><th>Cjenovni indeks</th><th>Cijena</th><th>Broj postaja</th></tr></thead>
<tbody>
{% for redak in indeksi %}
<tr>
<td><a href="{{redak.0}}">{{redak.1}}</a></td>
<td>{{redak.2|floatformat:3}}</td>
<td>{% for c in redak.3 %}{{c.0}}<br />{% endfor %}</td>
<td>{% for c in redak.3 %}{{c.1}}<br />{% endfor %}</td>
</tr>
{% endfor %}
</tbody>
</table>
{% endblock %}
