{% extends "base.html" %}
{% block meni %}
<p align="center">| <a href="{% url 'indeksi_view' gorivo_id %}" style="font-weight: bold">INDEKSI</a> | <a href="{% url 'gorivo_view' gorivo_id %}">CIJENE</a> | </p>
{% endblock %}
{% block gorivo %}
<table class="table">
<thead><tr><th>Tvrtka</th><th>Cjenovni indeks</th><th>Pojedine cijene</th></tr></thead>
<tbody>
{% for vlasnik in vlasnici_sa_cijenama %}
<tr>
<td>{{vlasnik.ime}}</td>
<td>{{vlasnik.index|floatformat:2}}</td>
<td>{{vlasnik.cijene}}</td>
</tr>
{% endfor %}
</tbody>
</table>
{% endblock %}
